# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* popular languages of Data Science 
* commonly libraries use in Data Science 
* Data Science Tools

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. pandas
3. matlplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|Hadoop|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
 (3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [9]:
hours = 200/60 # This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author

Arpit Rawal